# Python
venv/
__pycache__/
*.pyc
.env

# Data : DVC gère lui-même l'ignore des fichiers de données

# Modèles entraînés
*.bin
*.safetensors
*.pt
checkpoints/

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store